#tableManagerOptionValue .mouse-move{
    cursor: ns-resize;
    padding: 10px 0;
    color: #666;
}

#tableManagerOptionValue .custom-control-label::after {
    cursor: pointer;
}

#tableManagerOptionValue #btnAddOptionValue {
    outline: none;
}

#tableManagerOptionValue th,
#tableManagerOptionValue td {
    background-color: #efefef;
}

#tableManagerOptionValue .custom-control-label {
    left: 17px;
    top: -2px;
}

#tableManagerOptionValue .custom-control-label:before {
    background-color: #ffffff;
    border: #8f8f8f solid 1px;
}

#tableManagerOptionValue .custom-control-input:checked~.custom-control-label::before{
    border-color: #007bff;
    background-color: #007bff;
}

#tableManagerOptionValue .custom-radio{
    padding: 7px 0;
}

#tableManagerOptionValue input[type="text"] {
    width: 100%;
    border: 1px solid #adadad;
    border-radius: 1px;
    padding: 7px 10px;
    color: #303030;
    background-color: #fff;
}
